@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Rubik&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
    font-family: Rubik, sans-serif;
    font-size: 18px;

}

body{
    background-color: #D7CF8C;
    margin: 0;
    padding: 0;
}

/* Header Section*/
header{
    background-color: #D7CF8C;
}

/* the logo */
.logo{
    width: 80px;
}

#logo_link{
    padding-top: 5px;
}


/* the nav */
nav a{
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color: #05B3B1;
    color: #ffffff;
}

/* The Main Section */
main section{
    text-align: center;
}

main section img{
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #4b4938;
}


/* the hero section */
#hero {
    height: 100vh;
    text-align: center;
    position: relative;
}

.hero-img{
  /*  width: 100%; */
   height: auto;
}

.hero-msg {
    margin: 0;
    position: relative;

}

.home-title{
    color: #6c654f;
    font-size: 2em;
    margin-top: 10px;
}

h4{
    color:#1c3463;
    font-size: 4em;
}


.button-box{
    text-align: center;
    margin-top: 10px;
}


/* image cards & icons */
.card-img{
    border: 10px #000000;
    margin: 100px auto;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 20px 0;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

/* buttons */
.book, .join{
    background-color: #ccc588;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5em;
    padding: 15px 30px;
    margin: 20px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: #e1da9e;
    color: black;
}

/* message section */
.msg{
    background-color: #beb777;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2{
    color:black;
    font-size: 3em;
    margin: 0;
}

.msg p{
    color:black;
    padding-bottom: 15px;
}


/* Footer */
footer{
    background-color: #D7CF8C;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p{
    font-size:1.2em;
}

footer a{
    color:black;
    text-decoration: none;
}

footer .social img{
    padding-top: 15px;
}

footer a:hover{
    color:black;
}

footer p a:hover{
    text-decoration: underline;
}