@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;1,9..40,600&display=swap');

.content {
    font-family: DM Sans, sans-serif;
    height: 100vh;
}

body {
    background-color: #FFFCF2;
    margin: 0;
    padding: 0;
}

/* Dark Mode */
.dark-mode {
    background-color: #302d2d;
    color: white;
}

/* Dark Mode Slider */
#dark-mode{
    position: absolute;
    right: 0;
    top: 0;
    margin: 3px 3px 0px 0px;
    width: 60px;
    height: 34px;

}
#button-label{
    position: absolute;
    right: 0;
    top: 0;
    margin: 7px 66px 0px 0px;

}
.switch {
    max-width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #745aca;
}

input:focus+.slider {
    box-shadow: 0 0 1px #745aca;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

header {
    margin-top: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    margin: 10px;
    color: #ed632d;
}

a:hover {
    color: #f28c64;

}

#title-box {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: .5fr .5fr;
} 

#hero-box {

    grid-column: 1/2;
    grid-row: 1/4;
    display: flex;
    justify-content: center;
}

#hero-img {
    width: 100%;
    height: 100%;
    max-width: 270px;
    min-width: 100px;
    text-align: center;
    /* width: 80%; */
}

.logo {
    width: 100px;
    grid-column: 2/3;
    grid-row: 2/3;
}

#intro-box {
    position: relative;
    z-index: 1;
    background-color: #CCC5B9;
    margin: -15px 20px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

#home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 25px 20px;
    grid-gap: 0 10px;
}

.project-card {
    background-color: #ed632d;
    border-radius: 15px;
    padding: 5px;
    height: 230px;
    text-align: center;
    position: relative;
    display: grid;
    grid-template-rows: .5fr 2fr 50px;
}

h2.project-title {
    height: fit-content;
    border-radius: 15px;
    padding: 5px;
    margin: 0px;
}

p.project-info {
    margin: auto;
}

button.project-link {
    /* margin: 10px; */
    /* position: absolute; */
    /* bottom: 5px; */
    margin: 0 auto;
}

button {
    font-family: DM Sans, sans-serif;
    background-color: #faf0d0;
    border-radius: 10px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 5px 10px;
    text-align: center;
    width: 150px;
    height: 40px;

}
button:hover{
    background-color: #f9f3e0;
}

.social button {
    background-color: #ed632d;

}
.social button:hover {
    background-color: #f38356;

}

footer {
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer.foot {
    text-align: center;
    margin: 0 10px;
    margin: 0 10px;
}

/* Info Page */

#profile{
    vertical-align: middle;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
#welcome-box{
    font-size: 3em;
}
#welcome-card{
    position: relative;
    z-index: 1;
    background-color: #CCC5B9;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}
#welcome-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}
#welcome-img{
    display: flex;
    justify-content: end;

}
#welcome-image{
    justify-content: end;
    width:100%;
    max-width: 500px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    margin-left: 20px;
}
#welcome-info{
    text-align: center;
    margin-right: 20px;
    background-color: #ed632d;
    border-radius: 15px;
    /* margin: 0 20px 0 0px; */
    height: 400px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    padding: 20px;
}

@media screen and (max-width: 600px) {

    #dark-mode{
        position: absolute;
        right: 0;
        top: 0;
        margin: 50px 8px 0px 0px;
        width: 60px;
        height: 34px;
    
    }
    #button-label{
        position: absolute;
        right: 0;
        top: 0;
        margin: 7px 66px 0px 0px;
    
    }

    #title-box {
        display: grid;
        grid-template-rows: 1fr 350px;
        grid-template-columns: 1fr;
        /* height: auto; */
    }

    #hero-box {
        grid-row: 2/3;
        display: flex;
        justify-content: center;
    }

    #hero-img {
        width: 200px;
        text-align: center;
    }

    .logo {
        width: 100px;
        margin: 20px auto 0px;
    }

    #title-card {
        text-align: center;
    }

    footer {
        flex-direction: column;
    }

    #home-grid {
        display: flex;
        flex-direction: column;

    }

    #title-section {
        align-items: center;
    }

    .project-card {
        margin: 10px 0px;
        height: 170px;
    }

    .home-title {
        font-size: 40px;
        margin: 0px;
    }

    /* Info Page */
    #welcome-grid{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    #welcome-image{
        width: 100%;
        margin: 0 auto;
        }
    #welcome-info{
        margin: 0 auto;

    }
}